<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../Static/css/wzj_personal_css/personal.css">
    <link rel="stylesheet" href="../../../Static/css/base.css">
</head>
<body>
    <div class="header">
        <div class="content">
            <div class="headPortrait">
                <div class="info">
                    <div class="left">
                        <a class="edit">
                            <span class="_edit"></span>
                        </a>
                        <img src="../../../Static/img/wzj-touxiang_03.png" alt="">
                    </div>
                    <div class="set">
                        <div class="wrap">
                            <div class="_set">
                                <span>设</span>
                                <span><div class="circle"></div></span>
                                <span>置</span>
                            </div>
                            <span class="en">UANXIAN</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="userName">
                <div class="information">
                    <span class="name">Dora</span>
                    <span class="line"></span>
                    <div class="star"><span></span><span></span><span></span><span></span></div>
                </div>
            </div>
            <div class="autograph">
                <span>美是一种选择，甚至是一种放弃</span>
            </div>
        </div>
    </div>

    <div class="my">
        <div class="mys">
            <div class="row">
                <div class="widths follow"></div>
                <div class="widths collection"></div>
            </div>
            <div class="row">
                <div class="widths friends"></div>
                <div class="widths dynamic"></div>
            </div>
        </div>
    </div>
</body>
</html>