body,p,pre,ul,li,ol,dd,dl,dt,form,input,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
ul,li,ol,dl,dd,dt{
    list-style: none;
}
a{
    text-decoration: none;
    color:#333;
}
img{
    border:0;
}

*{
    font-family: '文悦古体仿宋',sans-serif;
}
