@charset "UTF-8";
@import url(../base.css);
/*函数*/
/*@function bg(){
	$r:floor(random()*56+200);
	$g:floor(random()*56);
	$b:floor(random()*56);
	$color:rgb($r,$g,$b);
	@debug $color;  
	@return $color;
}*/
@import url(../../fonts/font_pnt9i8feioyfogvi/iconfont.css);
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px; }

@font-face {
  font-family: Wyue;
  src: url("../../fonts/文悦古体仿宋.otf"); }

@font-face {
  font-family: leftp;
  src: url(../../fonts/font_pnt9i8feioyfogvi/iconfont.woff); }

.inner {
  width: 100%;
  height: 100%;
  padding: 0 5%; }

.table {
  width: 100%;
  height: 1.42rem;
  margin: 0;
  padding: 0.22rem 0; }
  .table .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .table .content .go-prev {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #c6b390;
    font-size: 0.3rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 0.6rem;
    font-family: leftp, sans-serif;
    font-size: 0.22rem;
    position: absolute; }
  .table .content .titleBox {
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .table .content .titleBox .left-r, .table .content .titleBox .right-r {
      width: 0.51rem;
      height: 0.13rem;
      background: url("../../../Static/images/left.png") center/cover no-repeat; }
    .table .content .titleBox .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .table .content .titleBox .title .chinese {
        font-size: 0.3rem;
        color: #fff;
        font-weight: 400;
        font-family: Wyue,sans-serif; }
      .table .content .titleBox .title .english {
        margin-top: 2%;
        font-size: 0.18rem;
        color: #fff;
        font-weight: 400;
        font-family: Wyue,sans-serif; }
    .table .content .titleBox .right-r {
      background: url("../../../Static/images/right.png") center/cover no-repeat; }
