<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/table.css">
</head>
<body>
<div class="table">
    <div class="inner">
        <div class="content">
            <div class="go-prev"></div>
            <ul class="titleBox">
                <li class="left-r"></li>
                <li class="title">
                    <span class="chinese">订单支付</span>
                    <span class="english"><span style="color:#F80807;">OR</span>DER PAYMENT</span>
                </li>
                <li class="right-r"></li>
            </ul>
            <div></div>
        </div>
    </div>
</div>
</body>
</html>