@font-face {
  font-family: Wyue;
  src:url(../../fonts/文悦古体仿宋.otf);
}

@font-face {
  font-family: leftp;
  src: url(../../fonts/font_pnt9i8feioyfogvi/iconfont.woff);
}

@font-face {
  font-family: edit;
  src: url(../../fonts/font_2ufxsdqp0b4t2o6r/iconfont.woff);
}