@import "../mixin";
<<<<<<< HEAD
@import "../trip/fonts";
=======
@import "fonts";
>>>>>>> 15d182da0022d821cbc2b8d1fa8adcb639d530d3

body{
  background: #EAEAEA;
}

$img:'../../images/';
.header{
  @include cube(100%,4.96rem);
  background: url($img + 'wzj-beijing.png') center/cover no-repeat;
  .content{
    padding-top:1.73rem;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
  }
  .content .headPortrait {
    flex: 100%;
    height: 1.89rem;
    .info {
      width: 65.3%;
      margin-left: 2.6rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .info .left {
      @include cube(1.81rem, 1.87rem);
      position: relative;
      .edit {
        background: url($img + 'wzj-edit_03.png') center/cover no-repeat;
        position: absolute;
        bottom: 0;
        right: 0.06rem;
        @include circle(0.47rem);
        z-index: 2;
        display: block;
        text-align: center;
      }
      .edit ._edit {
        font-family: 'edit', sans-serif;
        color: #F2110D;
        font-size: 0.3rem;
        line-height: 0.47rem;
        &::before {
          content: "\e6b7";
        }
      }
    }
    .info .left img{
      @include circle(1.81rem);
    }
    .info .set{
      @include cube(1.92rem,0.8rem);
      background: url($img + 'wzj-button_03.png') center/cover no-repeat;
      background-color: #EAEAEA;
      border-radius: 0.8rem;
      border:0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .info .set .wrap{
      color:#fff;
      display: flex;
      flex-direction: column;
      ._set{
        display: flex;
        align-items: center;
      }
    }
    .info .set .wrap ._set span:nth-child(1){
      font-size: 0.3rem;
      font-family: 'Wyue',sans-serif;
      padding-right:0.14rem;
    }
    .info .set .wrap ._set span:nth-child(2){
      background: #fff;
      display: block;
      @include circle(0.08rem);
      position: relative;
      .circle{
        background: #D11E33;
        @include circle(0.04rem);
        @include center;
      }
    }
    .info .set .wrap ._set span:nth-child(3){
      font-size: 0.3rem;
      font-family: 'Wyue',sans-serif;
      padding-left:0.14rem;
    }
    .info .set .wrap .en{
      font-size: 0.15rem;
      font-family: 'Wyue',sans-serif;
    }
  }
  .content .userName{
    flex: 100%;
    height:0.93rem;
    display: flex;
    justify-content: center;
    .information{
      height:100%;
      display: flex;
      flex-direction: column;
    }
    .information .name{
      font-family: 'Wyue',sans-serif;
      font-size: 0.48rem;
      color:#646262;
    }
    .information .line{
      background: url($img + 'wzj-line.png') center/cover no-repeat;
      width:0.36rem;
      height:0.07rem;
      margin:0 auto;
    }
    .information .star{
      display: flex;
      justify-content: space-between;
      height:0.24rem;
      span{
        background: url($img + 'wzj-star.png') center/cover no-repeat;
        width:0.24rem;
      }
    }
  }
  .content .autograph{
    flex: 100%;
    height:0.43rem;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      font-family: 'Wyue',sans-serif;
      font-size: 0.24rem;
      color:#646262;
    }
  }
}

.my{
  margin-top: 0.47rem;
  height:3.71rem;
  display:flex;
  justify-content: center;
  align-items: center;
  .mys{
    @include cube(6.34rem,3.08rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mys .row{
    height:1.48rem;
    display: flex;
    justify-content: space-between;
  }
  .mys .row .widths{
    width:3.05rem;
    background: url($img + 'wzj-my_03.png') center/cover no-repeat;
  }
  .mys .row .widths.follow{

  }
}