<?php include VIEWS.'header.html'?>
<link rel="stylesheet" href="<?php echo CSS_PATH?>trip/setting_up.css">

<article class="parcel">

    <header class="parcel-tag parcel-header">
        <article>
            <?php include 'table.html'?>
        </article>
    </header>

    <div class="parcel-tag parcel-main">
        <article>

            <div class="parcel-main-map-parcel">
                <div class="parcel-main-map">
                    <img src="<?php echo IMG_PATH?>yy-banner.png" alt="">

                    <div class="parcel-main-map-btn-parcel">
                        <button>
                            <div class="map-btn btn-mag"></div>
                        </button>
                        <button>
                            <div class="map-btn btn-nar"></div>
                        </button>
                        <button>
                            <span>N</span>

                            <div class="map-btn btn-pos"></div>
                        </button>
                    </div>
                    <div class="parcel-main-map-scale-parcel">
                        <span class="parcel-main-map-prop">500m</span>

                        <div class="parcel-main-map-scale">
                            <i class="parcel-main-map-scale-line"></i>
                        </div>
                    </div>
                    <ul class="parcel-main-map-bourn-parcel">
                        <li class="parcel-main-map-bourn"></li>
                        <li class="parcel-main-map-bourn"></li>
                        <li class="parcel-main-map-bourn"></li>
                    </ul>
                </div>
            </div>

            <div class="parcel-main-scenic-parcel">
                <div class="parcel-main-scenic">
                    <div class="parcel-main-scenic-adjust-parcel">
                        <div class="parcel-main-scenic-logo">
                            <div class="parcel-main-scenic-logo-img">
                                <img src="<?php echo IMG_PATH?>yy-header-pro.png" alt="">
                            </div>
                            <div class="parcel-main-scenic-logo-top">
                                <span>ONE</span>
                            </div>
                        </div>
                        <div class="parcel-main-scenic-line"></div>
                        <button class="parcel-main-scenic-btn">调整景区</button>
                    </div>
                    <ul class="parcel-main-scenic-adjust-list">
                        <li class="parcel-main-scenic-adjust-item">
                            <div class="parcel-main-scenic-adjust-item-parcel-img">
                                <div class="parcel-main-scenic-adjust-item-img">
                                    <img src="<?php echo IMG_PATH?>yy-adjust-item-DUANQIAO.png" alt="">
                                </div>
                            </div>
                            <div class="parcel-main-scenic-adjust-item-text">
                                <h2 class="parcel-main-scenic-adjust-item-text-title">断桥残雪</h2>
                                <span class="parcel-main-scenic-adjust-item-text-time">（30分钟）</span>

                                <h3 class="parcel-main-scenic-adjust-item-text-subtitle"><span>DU</span>ANQIAOCANXUE
                                </h3>
                                <s class="parcel-main-scenic-adjust-item-text-line"></s>

                                <p>断桥残雪是西湖上著名的景色，以雪时远观桥面若隐若现于湖面而称著。</p>
                            </div>
                        </li>
                        <li class="parcel-main-scenic-adjust-item">
                            <div class="parcel-main-scenic-adjust-item-parcel-img">
                                <div class="parcel-main-scenic-adjust-item-img">
                                    <img src="<?php echo IMG_PATH?>yy-adjust-item-BAIDI.png" alt="">
                                </div>
                            </div>
                            <div class="parcel-main-scenic-adjust-item-text">
                                <h2 class="parcel-main-scenic-adjust-item-text-title">断桥残雪</h2>
                                <span class="parcel-main-scenic-adjust-item-text-time">（30分钟）</span>

                                <h3 class="parcel-main-scenic-adjust-item-text-subtitle"><span>DU</span>ANQIAOCANXUE
                                </h3>
                                <s class="parcel-main-scenic-adjust-item-text-line"></s>

                                <p>断桥残雪是西湖上著名的景色，以雪时远观桥面若隐若现于湖面而称著。</p>
                            </div>
                        </li>
                        <li class="parcel-main-scenic-adjust-item">
                            <div class="parcel-main-scenic-adjust-item-parcel-img">
                                <div class="parcel-main-scenic-adjust-item-img">
                                    <img src="<?php echo IMG_PATH?>yy-adjust-item-PENGQUAN.png" alt="">
                                </div>
                            </div>
                            <div class="parcel-main-scenic-adjust-item-text">
                                <h2 class="parcel-main-scenic-adjust-item-text-title">断桥残雪</h2>
                                <span class="parcel-main-scenic-adjust-item-text-time">（30分钟）</span>

                                <h3 class="parcel-main-scenic-adjust-item-text-subtitle"><span>DU</span>ANQIAOCANXUE
                                </h3>
                                <s class="parcel-main-scenic-adjust-item-text-line"></s>

                                <p>断桥残雪是西湖上著名的景色，以雪时远观桥面若隐若现于湖面而称著。</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </article>
    </div>

    <footer class="parcel-tag parcel-footer">
        <article>
            <span class="parcel-footer-reservations-ch">立即预定</span>
            <span class="parcel-footer-reservations-en">HUODNGTUIJIAN</span>
            <s>11</s>
        </article>
    </footer>

</article>

<?php include VIEWS.'footer.html'?>