<?php include 'header.html'?>
<link rel="stylesheet" href="<?php echo CSS_PATH?>setting_up.css">

<article class="parcel">
    <header class="parcel-tag parcel-header">
        <article>

        </article>
    </header>
    <div class="parcel-tag parcel-main">
        <article>
            <div class="parcel-main-map"></div>
            <div class="parcel-main-scenic"></div>
        </article>
    </div>
    <footer class="parcel-tag parcel-footer">
        <article>
            <span class="parcel-footer-reservations-ch">立即预定</span>
            <span class="parcel-footer-reservations-en">HUODNGTUIJIAN</span>
            <s>11</s>
        </article>
    </footer>
</article>

<?php include 'footer.html'?>