<link rel="stylesheet" href="<?php echo CSS_PATH?>nav/table.css">
<div class="table">
    <div class="inner">
        <div class="content">
            <!--<div class="go-prev">
                <span class="iconfont icon-jiantouzuo"></span>
            </div>-->
            <ul class="titleBox">
                <li class="left-r"></li>
                <li class="title">
                    <span class="chinese">订制行程</span>
                    <span class="english"><span style="color:#F80807;">OR</span>DER PAYMENT</span>
                </li>
                <li class="right-r"></li>
            </ul>
            <div></div>
        </div>
    </div>
</div>