@import "../base.css";
@import "../mixin";

$Img: '../../../Static/images/';

.parcel {
  @include cube(100%, 13.34rem);
  background: url($Img + "Appbackground.jpg");
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  [class~='parcel-tag'] {
    width: 100%;
    &:nth-child(1) {
      padding-top: 14px;
      background: rgba(2, 2, 2, 0.8);
    }
    &:nth-child(2) {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    &:nth-child(3) {
      background: #000000;
      padding: 0 -0.24rem;
      height: 0.98rem;
      align-self: center;
    }
  }
}

.parcel-main {
  article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.parcel-main .parcel-main-map {
  width: 100%;
  height: 3.04rem;
  overflow: hidden;
  image {
    width: 7.50rem;
  }
}

.parcel-main .parcel-main-map-btn-parcel {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.53rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0.24rem;
  li {
    @include circle(0.57rem);
    background: #fff;
  }
}

.parcel-main .parcel-main-scenic {
  flex: 1;
}

.parcel-footer {
  article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.2404rem;
  }
  span {
    &:nth-child(1) {
      color: #cebfa3;
    }
    &:nth-child(2) {
      color: #ebebeb;
    }
  }
  s {
    font-size: 0;
    width: 0.05rem;
    height: 0.25rem;
    background: url($Img + "yy-bannerbg_06.png");
    @include tb;
    right: 28%;
  }
}
