@charset "UTF-8";
@import url(../base.css);
/*函数*/
/*@function bg(){
	$r:floor(random()*56+200);
	$g:floor(random()*56);
	$b:floor(random()*56);
	$color:rgb($r,$g,$b);
	@debug $color;  
	@return $color;
}*/
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px; }

.parcel {
  width: 100%;
  height: 13.34rem;
  background: url("../../../Static/images/Appbackground.jpg");
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .parcel [class~='parcel-tag'] {
    width: 100%; }
    .parcel [class~='parcel-tag']:nth-child(1) {
      padding-top: 14px;
      background: rgba(2, 2, 2, 0.8); }
    .parcel [class~='parcel-tag']:nth-child(2) {
      flex: 1;
      display: flex;
      flex-direction: column; }
    .parcel [class~='parcel-tag']:nth-child(3) {
      background: #000000;
      padding: 0 -0.24rem;
      height: 0.98rem;
      align-self: center; }

.parcel-main article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.parcel-main .parcel-main-map {
  width: 100%;
  height: 3.04rem;
  overflow: hidden; }
  .parcel-main .parcel-main-map image {
    width: 7.50rem; }

.parcel-main .parcel-main-map-btn-parcel {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.53rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0.24rem; }
  .parcel-main .parcel-main-map-btn-parcel li {
    width: 0.57rem;
    height: 0.57rem;
    border-radius: 50%;
    background: #fff; }

.parcel-main .parcel-main-scenic {
  flex: 1; }

.parcel-footer article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.2404rem; }

.parcel-footer span:nth-child(1) {
  color: #cebfa3; }

.parcel-footer span:nth-child(2) {
  color: #ebebeb; }

.parcel-footer s {
  font-size: 0;
  width: 0.05rem;
  height: 0.25rem;
  background: url("../../../Static/images/yy-bannerbg_06.png");
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 28%; }
