@import "../base.css";
@import "../mixin";
@import "fonts";

$Img: '../../../Static/images/';
.parcel {
  @include cube(100%, 13.34rem);
  background: url($Img + "Appbackground.jpg");
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  [class~='parcel-tag'] {
    width: 100%;
    &:nth-child(1) {
      padding-top: 14px;
      background: rgba(2, 2, 2, 0.8);
    }
    &:nth-child(2) {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    &:nth-child(3) {
      background: #000000;
      padding: 0 -0.24rem;
      height: 0.98rem;
      align-self: center;
    }
  }
}

.parcel-main {
  article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.parcel-main .parcel-main-map-parcel {
  width: 100%;
  height: 3.04rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .parcel-main-map {
    width: 7.5rem;
  }

  .parcel-main-map .parcel-main-map-btn-parcel {
    position: absolute;
    top: 0;
    right: 0;
    height: 2.53rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 0.24rem;
    z-index: 999;
    button {
      @include circle(0.57rem);
      background: #fff;
      text-align: center;
      [class~="map-btn"] {
        @include cube(0.21rem, 0.02rem);
        @include center;
        background: #ff0000;
        &.btn-mag {
          &::after {
            content: '';
            display: block;
            @include cube(0.21rem, 0.02rem);
            background: #ff0000;
            transform: rotateZ(90deg);
          }
        }
        &.btn-pos {
          @include square(0.23rem);
          background: url($Img + "yy-btn-mag-bg.png") no-repeat center center;
          background-size: 100%;
        }
      }
      span {
        color: #c6b390;
        font-size: 0.1582rem;
        top: -0.42rem;
      }
    }
  }

  .parcel-main-map .parcel-main-map-scale-parcel {
    position: absolute;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .parcel-main-map-prop {
      color: #c6b390;
      font-size: 0.2385rem;
      font-family: Wyue,sans-serif;
    }

    .parcel-main-map-scale {
      @include cube(0.75rem, 0.16rem);
      margin: 0 0.24rem;
      border-bottom: 0.03rem solid #ff0000;
      box-sizing: border-box;

      .parcel-main-map-scale-line {
        @include cube(0.04rem, 0.16rem);
        background: #ff0000;
        position: absolute;

        &::after {
          content: '';
          display: block;
          @include cube(0.04rem, 0.16rem);
          background: #ff0000;
          position: absolute;
          right: -0.74rem;
        }
      }
    }
  }

  .parcel-main-map .parcel-main-map-bourn-parcel {
    @include cube(100%, 100%);
    position: absolute;
    top: 0;
    .parcel-main-map-bourn {
      @include cube(0.96rem, 0.88rem);
      background: url($Img + "yy-bourn-bg.png") no-repeat center center;
      background-size: 100%;
      position: absolute;
      &:nth-child(1) {
        left: 2.39rem;
        bottom: 0.7rem;
      }
      &:nth-child(2) {
        right: 2.22rem;
        top: 0.19rem;
      }
      &:nth-child(3) {
        right: 1.4rem;
        bottom: 0.14rem;
      }
    }
  }
}

.parcel-main .parcel-main-scenic-parcel {
  flex: 1;
  margin: 0 0.24rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  .parcel-main-scenic {
    width: 6.37rem;
    height: 100%;
    border-left: 1px solid #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .parcel-main-scenic .parcel-main-scenic-adjust-parcel {
    height: 1.44rem;
    padding: 0.66rem 0 0 0.49rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.09rem;
    .parcel-main-scenic-logo {
      @include circle(0.98rem);
      background: url($Img + "yy-header-por-bg.png") no-repeat center center;
      position: absolute;
      bottom: 0;
      //padding: 0.02rem 0.04rem;
      box-sizing: border-box;
      overflow: hidden;
      left: -0.49rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .parcel-main-scenic-logo-img{
        @include circle(0.93rem);
        overflow: hidden;
        img {
          display: block;
          @include center;
        }
      }
      .parcel-main-scenic-logo-top{
        @include circle(0.93rem);
       background: url($Img + "yy-header-por-top-bg.png");
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          z-index: 222;
          font-size: 0.3719rem;
          color: #fcfcfb;
          position: absolute;
          transform: rotateZ(90deg);
        }
      }
    }

    .parcel-main-scenic-line {
      @include cube(4.09rem, 0.17rem);
      background: url($Img + "yy-trip-line-bg.png");
    }

    .parcel-main-scenic-btn {
      @include cube(1.45rem, 0.53rem);
      background: url($Img + "yy-trip-amend.png") #fff;
      font-size: 0.28rem;
      color: #fbfbfb;
      font-family: Wyue,sans-serif;
    }
  }
  .parcel-main-scenic .parcel-main-scenic-adjust-list {
    flex: 1;
    margin: 0 0.04rem 0 0.11rem;
    box-sizing: border-box;
    .parcel-main-scenic-adjust-item {
      margin: 0.39rem 0;
      display: flex;
      .parcel-main-scenic-adjust-item-parcel-img {
        width: 2rem;
        background: url($Img + "yy-trip-header-bg.png");
        padding: 0 0.12rem 0 0.01rem;
        .parcel-main-scenic-adjust-item-img {
          overflow: hidden;
          height: 1.89rem;
          width: 1.89rem;
          border-radius: 0.1rem;
          img {
            @include center;
          }
        }
      }

      .parcel-main-scenic-adjust-item-text {
        flex: 1;
        margin-left: 0.16rem;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: center;
        .parcel-main-scenic-adjust-item-text-title {
          font-size: 0.3rem;
          color: #fdfcfc;
          font-family: Wyue,sans-serif;
        }
        .parcel-main-scenic-adjust-item-text-time {

          font-size: 0.18rem;
          color: #999999;
          font-family: Wyue,sans-serif;
        }
        .parcel-main-scenic-adjust-item-text-subtitle{
          font-size: 0.24rem;
          color: #666666;
          font-family: Wyue,sans-serif;
          span{
            color: #ff0000;
            font-family: Wyue,sans-serif;
          }
        }
        p {
          font-size: 0.24rem;
          color: #bcb9b9;
          font-family: Wyue,sans-serif;
        }
      }
    }
  }
}

.parcel-footer {
  article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.2404rem;
  }
  span {
    font-family: Wyue,sans-serif;
    &:nth-child(1) {
      color: #cebfa3;
    }
    &:nth-child(2) {
      color: #ebebeb;
    }
  }
  s {
    font-size: 0;
    width: 0.05rem;
    height: 0.25rem;
    background: url($Img + "yy-parcel-footer-bg.png");
    @include tb;
    right: 28%;
  }
}
