<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../Static/css/index.css">
</head>
<body>
<div class="head">
    <div class="head-inner">
        <div class="head-back"></div>
        <div class="head-logo"></div>
        <div class="head-search"></div>
    </div>
</div>
<div class="banner">
<div class="banner-logo">

</div>
</div>
<div class="lunbo">
    <!--<div class="con-lg-4">-->
    <div class="lunbo-inner">
        <div class="lunbo-max-inner">
            <div class="lunbo-1 lunbo-common"></div>
            <div class="lunbo-2 lunbo-common"></div>
            <div class="lunbo-3 lunbo-common"></div>
            <!--<div class="lunbo-1 lunbo-common"></div>-->
            <!--<div class="lunbo-2 lunbo-common"></div>-->
            <!--<div class="lunbo-3 lunbo-common"></div>-->
        </div>
    </div>

    <!--</div>-->
</div>
</body>
</html>